.main {
  border-width: 3px;
  border-style: solid;
  min-height: 50px;
  min-width: 50px;
  width: 100% ;
  //background-color: $color5;
  //color: green;
  //background-color: mat.get-color-from-palette($my-accent, '500');
  //background-color: mat.get-color-from-palette($my-primary, '500');
}
