.palette {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  //align-items: baseline;
  min-height: 50px;
  height: 50px;

  .hue {
    width: 60px;
    height: 100%;
    border: 2px solid black;
    //background-color: aqua;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
