<div class="theme">

  <div class="palette palette-primary">
    <div class="hue p50">50</div>
    <div class="hue p100">100</div>
    <div class="hue p200">200</div>
    <div class="hue p300">300</div>
    <div class="hue p400">400</div>
    <div class="hue p500">500</div>
    <div class="hue p600">600</div>
    <div class="hue p700">700</div>
    <div class="hue p800">800</div>
    <div class="hue p900">900</div>
    <div class="hue a100">A100</div>
    <div class="hue a200">A200</div>
    <div class="hue a400">A400</div>
    <div class="hue a700">A700</div>
  </div>

</div>
